#servicios{
	margin-top: 1%;
}

.infoblock .caption .text-justify{
	height: 300px !important;

}

#slider{
	padding: 0;
    /*width: 100%;*/
}

.imageslide{
	width: 100%;
	height: 400px !important;
}

#mapsiframe{
	width: 100%;
}