<ul id="languageSelector" class="nav">
    <li>
        <a href="{{ path('alex_static_pages_lang_eng') }}"><span class="flag-icon flag-icon-en flag-icon-squared"></span></a>
    </li>
    <li>
        <a href="{{ path('alex_static_pages_lang_es') }}"><span class="flag-icon flag-icon-es flag-icon-squared"></span></a>
    </li>
    <li>
        <a href="{{ path('alex_static_pages_lang_cat') }}"><span class="flag-icon flag-icon-gr flag-icon-squared"></span></a>
    </li>
</ul>