{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
<!--
<form data-toggle="validator" role="form">
    <div class="form-group input">
        <label for="inputName" class="control-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="" required>
    </div>
    <div class="form-group input">
        <label for="inputName" class="control-label">Email</label>
        <input type="text" class="form-control" id="email" placeholder="" required>
    </div>
    <div class="form-group input">
        <label for="inputName" class="control-label">Sexo</label>
        <select class="form-control" id="sel1" required>
            <option></option>
            <option>Mujer</option>
            <option>Hombre</option>
        </select>
    </div>
    <div class="form-group input">
        <label for="inputName" class="control-label">Edad</label>
        <input type="text" class="form-control" id="d" placeholder="" required>
    </div>
    <div class="form-group input">
        <label for="inputName" class="control-label">Numero de hijos</label>
        <input type="text" class="form-control" id="hijos" placeholder="" required>
    </div>

    <hr/>

    <label>Datos de disponibilidad horaria</label>
    <div>Dias de la semana:</div>
    <select multiple class="form-control" id="sel1" required>
        <option>Lunes</option>
        <option>Martes</option>
        <option>Miércoles</option>
        <option>Jueves</option>
        <option>Viernes</option>
        <option>Sábado</option>
        <option>Domingo</option>
    </select>
    <div>Horas:</div>
    <select multiple class="form-control" id="sel1" required>
        <option>8-9</option>
        <option>9-10</option>
        <option>10-11</option>
        <option>11-12</option>
        <option>12-13</option>
        <option>13-14</option>
        <option>14-15</option>
        <option>15-16</option>
        <option>16-17</option>
        <option>17-18</option>
        <option>18-19</option>
        <option>19-20</option>
    </select>
    <hr/>
    <div class="form-group">
        <button type="submit" class="btn btn-primary center-block boton">Actualizar</button>
    </div>
</form>
!-->