{% extends 'base.html.twig' %}
{% block customcss %}
    {{ parent() }}
    <style>
        .input {
            padding-left: 5%;
            padding-right: 5%;
        }
        .panel {
            padding-top: 3%;

        }

        .boton {

            width: 100%;

        }
        .form-group {
            padding-left: 5%;
            padding-right: 5%;
        }
    </style>
{% endblock %}
{% block contenido %}

    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3">
            <h1>Registro</h1>
            <div class="panel panel-default">
                {% include('FOSUserBundle:Registration:register_content.html.twig') %}



            </div>

            <br>
            <br>
        </div>
    </div>

{% endblock %}