{% extends 'base.html.twig' %}
{% block customcss %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/login/registro.css') }}"/>
{% endblock %}
{% block contenido %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2">
            <h1>Registro</h1>
            <div class="panel panel-default">

                <div class="panel-body">
                    {% include('FOSUserBundle:Registration:register_content.html.twig') %}
                </div>
            </div>
    </div>
    </div>


{% endblock %}