{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2">
            <button type="submit" class="btn btn-primary">{% trans from 'trans' %}Registrarse{% endtrans %}</button>
        </div>
        <!--<input type="submit" value="{{ 'registration.submit'|trans }}" />-->
    </div>
{{ form_end(form) }}