{% extends 'base.html.twig' %}
{% block title %} Alex Ortigosa Web - E-commerce {% endblock %}
{% block contenido %}
	<div class="row">
		<div class="page-header">
			<h1>Ecommerce <small>Tu solución de venta online</small></h1>
		</div>
	</div>

{% endblock %}