{% extends 'base.html.twig' %}
{% block title %} Alex Ortigosa Web - A medida {% endblock %}
{% block contenido %}
	<div class="row">
		<div class="page-header">
			<h1>Programación a medida <small style="color: #2ed2d2;">Plasmamos tu idea</small></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-primary">
				<!--<div class="panel-heading">
					<h2 class="panel-title text-center" >Servicios</h2>
				</div>-->
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<img src="{{ asset('assets/img/amedida/ideas_de_miercoles.jpg') }}" alt="Ideas de negocio" class="img-circle img-responsive">
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h3>Tus ideas</h3>
							<p class="text-justify">
								Quien no ha tenido alguna vez una idea? Quieres montar tu tienda vendiendo aquello que nadie vende? Has pensado en alguna nueva metodólogia que mejorará el rendimiento de tu negocio?
							</p>
							<p class="text-justify">
								No esperes a que alguién se te adelante y llevalá a cabo. Nosotros te podemos asesorar de cuales serán las mejores técnologias para implementarla. De manera que puedas puesdas sacarle el mayor rendimiento a tu negocio.
							</p>
							<p class="text-justify">
								Cualquiera, la que sea se puede llevar a cabo. Solo tiene que ponerte en contacto con nosotros.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h3>Nosotros las plasmamos</h3>
							<p class="text-justify">
								Nuestro joven equipo desarrollará la idea utilizando las últimas técnologias, de manera que no te quedes desfasado en un corto periodo de tiempo. Solemos trabajar con frameworks de desarrollo web como symfony para este tipo de desarrollos. Incluso podemos hacer el desarrollo multiplataforma de la idea, de manera que puedas llevarla a cabo desde cualquier tipo de dispositivo.
							</p>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<img src="{{ asset('assets/img/amedida/creaideas.jpg') }}" alt="Plasmamos tus ideas desarrollando a medida" class="img-circle img-responsive">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block jsready %}
    selectedMenuSer("buttonservice");
{% endblock %}