{% extends 'base.html.twig' %}
{% block customcss %}
    {{ parent() }}
    <style>
        @media screen and (min-width: 970px) {
        .submenu a{
        padding: 3% !important;
        margin: 3% !important;
        }
        }
        .container{
        padding-bottom: 7%!important;
        border-bottom: 7%!important;
        margin-bottom: 7%!important;
        }
        .submenu a{
        width: 100% !important;
        }
    </style>
{% endblock %}
{% block contenido %}


    <div class="submenu">
        <div class="container-fluid">
            <div class="col-md-6 col-md-offset-3 col-lg-offset-3">
                <a href="#" class="btn btn-warning">VER PETICIONES</a>
            </div>
            </br></br>
            <div class="col-md-6 col-md-offset-3 col-lg-offset-3">
                <a href="#" class="btn btn-warning">SOLICITAR</a>
            </div>
            </br></br>
            <div class="col-md-6 col-md-offset-3 col-lg-offset-3">
                <a href="#" class="btn btn-warning">MIS INTERCAMBIOS</a>
            </div>
        </div>
    </div>
    <br><br></br>

{% endblock %}






