{% extends 'base.html.twig' %}
{% block title %} Alex Ortigosa Web - Sobre nosotros {% endblock %}
{% block contenido %}
    <div class="row">
        <div class="page-header">
            <h1>Sobre nosotros</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <!--<div class="panel-heading">
                    <h2 class="panel-title text-center" >Servicios</h2>
                </div>-->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <h3>Descripción</h3>
                            <p class="text-justify">Somos un equipo joven y dinámico con muchos años de experiencia en diferentes proyectos. Todos relacionados con el entorno web. Tenemos un objetivo muy claro, el de hacernos un hueco en el mercado de servicios tecnológicos, por medio de la calidad y la transparencia hacia nuestros clientes. Puede estar seguro que con nosotros, estará en las manos de grandes profesionales que buscan su satisfacción completa. </p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <h3>Equipo</h3>
                            <p class="text-justify">Nuestro equipo se compone de 3 grandes talentos. Un Ingeniero informático especializado en sistemas de información, una diseñadora con un talento excepcional y un programador de la mas alta estirpe. También contamos con infinidad de asociados que nos ayudan en un gran avanico de contextos. </p>
                            <p>Los mejores profesionales con los que puedes trabajar</p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <h3>Misión</h3>
                            <p class="text-justify">Nuestra misión es la de poner la técnología al alcance de todos. Compartiendo todo nuestro conocimiento para llegar a su objetivo por medio de la tecnología. De la manera mas económica posible y con el mejor trato.</p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <h3>Visión</h3>
                            <p class="text-justify">Queremos llegar a ser uno de los proveedores de servicios técnilógicos mas importantes de Barcelona.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsready %}
    selectedMenuSer("buttonquien");
{% endblock %}