
{% extends "::base.html.twig" %}
{% block customcss %}
    {{ parent() }}
    <style>
        .container{
            padding-bottom: 7%!important;
            border-bottom: 7%!important;
            margin-bottom: 7%!important;
        }
    </style>
{% endblock %}

{% block contenido %}
<div class="row">
    <div class="panel panel-default col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
        <div class="panel-body center-block">
                    {{ include('FOSUserBundle:Security:login_content.html.twig') }}
        </div>
    </div>
    <br/>
</div>
{% endblock %}




