/*
	VARIABLE BOOTSTRAP
*/


body{
	background: url("/img/background.png") cover;

}
#page{
	/*
	margin-top: 1%;
	margin-bottom: 1%;
	*/
	}
#center_column{
	background: white;
	/*padding-right: 2%;
	padding-left: 2%;*/
}
/*
	HEADER
*/
#header{
	/*background: black;*/
	background: #4EBABA;
	/*padding-bottom: 20px;*/
	padding-top: 1%;
}
.navbar-brand {
	padding: 0px;
}
.navbar-brand>img {
	height: 100%;
	padding: 15px;
	width: auto;
}
.nav-pills > li > a{
	background: #ACEDED;
}
#headerbottom{
	padding-top: 1%;
}
.dropdown-menu li a{
	color: #168C8C;
}
.dropdown-menu li a:hover{
	background: #4EBABA;
}
/*
	CONTENT
*/
#content{
	/*background: darkgray;*/
}

/*
	BOOTOM
*/

#footer{
	/*background: black;*/
	background: #77D5D5;
	padding-top: 1%;
	padding-bottom: 1%;
}
