/*
	VARIABLE BOOTSTRAP
*/


body{

}
#page{
	/*
	margin-top: 1%;
	margin-bottom: 1%;
	*/
	}
#center_column{
	background: white;
	/*padding-right: 2%;
	padding-left: 2%;*/
}
/*
	HEADER
*/
#header{
	/*background: black;*/
	background: #4EBABA;
	/*padding-bottom: 20px;*/
	padding-top: 1%;
}
.navbar-brand {
	padding: 0px;
}
.navbar-brand>img {
	height: 100%;
	padding: 15px;
	width: auto;
}

#headerbottom{
	/*padding-top: 1%;*/
}
/*
	CONTENT
*/
#content{
	/*background: darkgray;*/
}

/*
	BOOTOM
*/

#footer{
	/*background: black;*/
	background: #77D5D5;
	padding-top: 1%;
	padding-bottom: 1%;
}
