{% extends 'base.html.twig' %}
{% block title %} El Ideal Bar - By Alex Ortigosa {% endblock %}
{% block customcss %}
    {{ parent() }}
{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="box"></div>
        <div class="col-lg-12">
            <h1>Lectura correcta</h1>
            {% if consumicion is defined %}
                <h2>{{ consumicion.articulo }}</h2>
            {% endif %}
        </div>
        </div>
    </div>


{% endblock %}
{% block customjs %}
    {{ parent() }}
    <script>


        }
    </script>
{% endblock %}
{% block jsready %}
    selectedMenuSer("buttonservice");
{% endblock %}