{% extends 'base.html.twig' %}
{% block title %} Alex Ortigosa Web - Home {% endblock %}
{% block customcss %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/contacto.css') }}"/>
{% endblock %}
{% block customjs %}
    {{ parent() }}
{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="page-header">
            <h1>Contacta <small style="color: #2ed2d2;">con nosotros</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form id="formcontact" method="post" action="#" class="form-horizontal">
                <div class="form-group">
                    <label for="email" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">Email</label>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputname" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">Nombre y Apellidos</label>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <input type="name" class="form-control" id="inputname" placeholder="Nombre y Apellidos">
                    </div>
                </div>
                <div class="form-group">
                    <label for="textImput" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">Texto</label>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <textarea class="form-control" rows="6" id="textImput" placeholder="Texto"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>


        </div>
    </div>
{% endblock %}