{% extends 'base.html.twig' %}
{% block customcss %}
    {{ parent() }}
    <style>
        table {    font-family: arial, sans-serif;    border-collapse: collapse;    width: 100%; } td, th {    border: 1px solid #dddddd;    text-align: left;    padding: 8px !important; } tr:nth-child(even) {    background-color: #dddddd !important; } .ec-stars-wrapper {     /* Espacio entre los inline-block (los hijos, los `a`)        http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */     /*font-size: 0;     /* Podríamos quitarlo,         pero de esta manera (siempre que no le demos padding),         sólo aplicará la regla .ec-stars-wrapper:hover a cuando         también se esté haciendo hover a alguna estrella */     display: inline-block;  decoration: none;  cursor: pointer; } .ec-stars-wrapper a {     text-decoration: none;     display: inline-block;     /* Volver a dar tamaño al texto */     font-size: 32px;     font-size: 2rem;  decoration: none;  cursor: pointer;     color: #888; } .ec-stars-wrapper:hover a {     color: rgb(39, 130, 228);  decoration: none;  cursor: pointer; } /* * El selector de hijo, es necesario para aumentar la especifidad */ .ec-stars-wrapper > a:hover ~ a {     color: #888;  decoration: none;  cursor: pointer; }, /* FROM https://emiliocobos.net/calificacion-estrellas-solo-con-css/*/ .logo {  margin-right:0%;  width:15%;  height: 15%;  padding:15%;  padding-left: 1%;  padding-top: 2%; } body {    font: 400 15px/1.8 Lato, sans-serif;    color: #777; } h3, h4 {    margin: 10px 0 30px 0;    letter-spacing: 10px;    font-size: 20px;    color: #111; } .container {    padding: 80px 120px; } .person {    border: 10px solid transparent;    margin-bottom: 25px;    width: 80%;    height: 80%;    opacity: 0.7; } .person:hover {    border-color: #f1f1f1; } .carousel-inner img {    /*padding-top: 10%;*/    /*-webkit-filter: grayscale(90%);    /*filter: grayscale(90%); /* make all photos black and white */    /*width: 100%; /* Set width to 100% */    margin: auto; } .carousel-caption h3 {    color: #fff !important; } @media (max-width: 600px) {  .carousel-caption {    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */  } } .bg-1 {    background: #2d2d30;    color: #bdbdbd; } .bg-1 h3 {color: #fff;} .bg-1 p {font-style: italic;} .list-group-item:first-child {    border-top-right-radius: 0;    border-top-left-radius: 0; } .list-group-item:last-child {    border-bottom-right-radius: 0;    border-bottom-left-radius: 0; } .thumbnail {    padding: 0 0 15px 0;    border: none;    border-radius: 0; } .thumbnail p {    margin-top: 15px;    color: #555; } .btn {    padding: 10px 20px;    background-color: #333;    color: #f1f1f1;    border-radius: 0;    transition: .2s; } .btn:hover, .btn:focus {    border: 1px solid #333;    background-color: #fff;    color: #000; } .modal-header, h4, .close {    background-color: #333;    color: #fff !important;    text-align: center;    font-size: 30px; } .modal-header, .modal-body {    padding: 40px 50px; } .nav-tabs li a {    color: #777; } #googleMap {    width: 100%;    height: 400px;    -webkit-filter: grayscale(100%);    filter: grayscale(100%); } .navbar {    font-family: Montserrat, sans-serif;    margin-bottom: 0;    background-color: #2d2d30;    border: 0;    font-size: 11px !important;    letter-spacing: 4px;    opacity: 0.9; } .navbar li a, .navbar .navbar-brand {    color: #d5d5d5 !important; } .navbar-nav li a:hover {    color: #fff !important; } .navbar-nav li.active a {    color: #fff !important;    background-color: #29292c !important; } .navbar-default .navbar-toggle {    border-color: transparent; } .open .dropdown-toggle {    color: #fff;    background-color: #555 !important; } .dropdown-menu li a {    color: #000 !important; } .dropdown-menu li a:hover {    background-color: red !important; } footer {    background-color: #2d2d30;    color: #f5f5f5;    padding: 32px; } footer a {    color: #f5f5f5; } footer a:hover {    color: #777;    text-decoration: none; } .form-control {    border-radius: 0; } /* Adicional*/ textarea {    resize: none;    width: 98%;    margin-left:1%; } .boton {   width: 100%; }
    </style>
    <script type="text/javascript">
        $( document ).ready(function() {
            var star_rating = $('.ec-stars-wrapper');
            star_rating.on('click', function() {
                $('input.rating-value').val($(this).data('value'));
            });
        });
    </script>
{% endblock %}
{% block contenido %}
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3">
        <h2>Valorar</h2>
        <div class="panel panel-default">

            <!-- Necesitamos generar dinámicamente uno de estos por cada registro de actividad del usuario -->
            <!-- Campos a mostrar: Persona relacionada con el servicio, dirección del servicio (si dado o recibido),
                 horas, día/s -->

            <div>
                <table>
                    <tr>
                        <th>Usuario relacionado</th>
                        <th>Tipo de servicio</th>
                        <th>Horas</th>
                    </tr>
                    <!-- en esta row se deberían rellenar datos -->
                    <tr>
                        <td>Diana</td>
                        <td>Prestado</td>
                        <td>3h</td>
                    </tr>
                </table>
            </div>
            <hr/>
            <span>Valoración del servicio:</span>

            <a class="ec-stars-wrapper" data-value="1" title="Votar con 1 estrellas" >&#9733;</a>
            <a class="ec-stars-wrapper" data-value="2" title="Votar con 2 estrellas" >&#9733;</a>
            <a class="ec-stars-wrapper" data-value="3" title="Votar con 3 estrellas" >&#9733;</a>
            <a class="ec-stars-wrapper" data-value="4" title="Votar con 4 estrellas" >&#9733;</a>
            <a class="ec-stars-wrapper" data-value="5" title="Votar con 5 estrellas" >&#9733;</a>
            <div>
                Rating actual:
                <input type="number" min="0" max="5" name="" class="rating-value" value="3">
            </div>
            <hr/>
            <span>Comentario:</span>
            <br/>
            <textarea rows="3" name="" class="comentario" value=""></textarea>
            <hr/>
            <input type="submit" class="boton btn btn-primary center-block boton" value="Enviar comentario">
            <hr/>

        </div>
        </div>
    </div>

        <!-- fin modificaciones -->

{% endblock %}